@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Albertson;
  src: url('./assets/font/Albertson.ttf');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fafafa;
  background-image: url('./assets/images/background.png');
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary: #282A2C;
  --secondary: #ffba05;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
  box-shadow: inset 0 0 5px grey;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

*::-webkit-scrollbar-thumb:hover {
  background: #ffdc84;
}

.font-albertson {
  font-family: -apple-system, BlinkMacSystemFont, Albertson, sans-serif;
}
